.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.kasir-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
